*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-prodotti{
    max-width: 900px;
    position: relative;
    margin: 10px 100px;
    
}
.raw1 {
    /*display: inline-block;
    max-width: 900px;
    margin: 10px 100px;*/
    
}
/*caratteristiche foto*/
img {
    display: inline-block;
    height: 400px;
    position: absolute;
}
.foto1 {
    display: inline-block;
    position: absolute;
}
.foto1b {
    display: none;
    position: absolute;
}
.foto1:hover +.foto1b {
    display: block;
}
/*caratteristiche etichette*/
.etichetta {
    position: relative;
    padding: 5px;
    z-index: 2;
    color: white;
    left: 7px;
    top: 370px;
    margin-right: 5px;
    font-size: 13px;
}
.discount {
    background-color: red;
}
.sostenibile {
    background-color: green;
}
.heart {
    display: inline-block;
    background-color: white;
    color: black;
    position: absolute;
    height:25px ;
    width:20px ;
    z-index: 2;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    margin-left:260px;
}
/*info didascalia*/
.info {
    display: block; 
    position: relative;
       
} 
.infoprodotto {
    position: static;
    margin-top: 385px;
    line-height: 18px;
    font-size: 13px;
}
.marca {
    font-size: 11px ;
}
.prezzoscontato {
    color: red;
    font-weight: bold;
    margin-right: 4px;
    font-size: 11px;
}
.prezzooriginale {
    text-decoration: line-through;
    font-size: 11px;
}
/*secondo prodotto*/
.prodotto2 {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 285px;
}
.secondoprodotto{
    position: absolute;
    top: 15px;
    left: 285px;
}
/*terzo prodotto*/
.prodotto3 {
    display: inline-block;
    position: absolute;
    top:0;
    left: 570px;
}
.terzoprodotto{
    position: absolute;
    top: 15px;
    left: 570px;
}
/*seconda riga*/
.raw2{
    display: inline-block;
    max-width: 900px;
    margin: 0px;
}
/*quinto prodotto*/
.prodotto5 {
    display: inline-block;
    position: absolute;
    top: 457px;
    left: 285px;
}
.quintoprodotto{
    position: absolute;
    top: 475px;
    left: 285px;
}
/*sesto prodotto*/
.prodotto6 {
    display: inline-block;
    position: absolute;
    top: 457px;
    left: 570px;
}
.sestoprodotto {
    position: absolute;
    top: 475px;
    left: 570px;

}
